
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Calendar</title>

    <!--<link rel="stylesheet" href="./../../public/css/bootstrap.min.css" />-->
    <!--Hi philip, I need your help here, the last line and the next line absolutely point to the same content, 
    however if I comment out the next line and use the last line, it cannot work normally, some glyphicon cannot appear
    as you could see the glyphicon glyphicon-chevron-left of header of the main page. Thanks very much for your help.-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../../public/css/styles-from-sass.min.css" />
</head>
{{{body}}}
</html>