<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Calendar</title>
	<link rel="stylesheet" href="./../../public/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./../../public/css/styles-from-sass.min.css" />
</head>
{{{body}}}

</html>